<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d748c133fe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/src/css/reset.css">
    <link rel="stylesheet" href="/src/css/components.css">
    <link rel="stylesheet" href="/src/css/style.css">
    <link rel="stylesheet" href="/src/css/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Home</title>
  </head>

  <body>
    <header>
      <div class="containerWrapper">
        <h1 class="titleHome">KenzieHabit</h1>
        <nav class="navHeader">
          <ul>
            <li class="userHeader">
              <div class="imgPerfil"></div>
              <ul class="dropMenuHeader">
                <i class="fa-solid fa-caret-up"></i>
                <li><i class="fa-solid fa-user"></i><span>Editar Perfil</span></li>
                <li><i class="fa-solid fa-arrow-left"></i><span>Sair do app</span></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="sectionUserInfo">
      <div class="containerWrapper">
        <div class="imgUserInfo"></div>
        <div class="boxUserInfo">
          <h2>Júlia Silva Camargo</h2>
          <p>Estudante de programação</p>
        </div>
      </div>
    </section>

    <main class="mainHome">
      <div class="containerWrapper">
        <div class="controllerHabits">
          <h2>Tarefas</h2>

          <div class="groupButtons">
            <button class="allButton">Todos</button>
            <button class="doneButton">Concluidos</button>
            <button class="createHabitButton">Criar</button>
          </div>
        </div>
      </div>

      <ul class="listHabits">
        <li class="headerItem">
          <p>Status</p>
          <p>Titulo</p>
          <p>Descrição</p>
          <p>Categoria</p>
          <span>Editar</span>
        </li>

        <li class="itemHabit">
          <input type="checkbox" name="input" id="1">
          <label for="1"></label>
          <p class="titleHabit">Fazer exercícios segunda pela manhã</p>
          <p class="descriptionHabit">Ir correr na praça próximo de casa</p>
          <div class="categoryHabit">
            <p>Saúde</p>
          </div>
          <span class="edit fa-solid fa-ellipsis"></span>
        </li>
      </ul>
    </main>
  </body>
</html>